<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title><%= conf.app.name %></title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/vui.css' />
  </head>
  <body>
    <%- include('./header',{'path':'reboot'}) %>
    <div class="vui main">
      <h3 class="ui top attached header">
        システム再起動
      </h3>
      <div class="ui attached segment">
        <p style="line-height:2em;">
          システムの再起動を行います。<br/>
          再起動完了までに５分くらいかかる場合があります。<br/>
          再起動後はIPアドレスが変更になりますのでお気を付けください。
        </p>
        <center>
          <a href="http://<%= host %>/api/v1/reboot" class="ui button red">システムを再起動する</a>
        </center>
      </div>
    </div>
    <%- include('./footer') %>
  </body>
</html>
